
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');


body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
    font-family: 'Raleway';
    margin: 0;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #35495E;
}

#nav-list {
    list-style: none;
    flex: 5;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-inline-start: 0;
    padding-bottom: 2vh;

}

#selected {
    color: #ECF0F1;
}

#nav-list>li {
    z-index: 1;
    flex: 1;
    font-size: 2em;
    font-weight: 700;
    color: #BDC3C7;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 2rem;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}

#p-info {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#p-info>p {
    font-weight: 500;
    font-size: 1.5em;
    color: #ECF0F1;
}

#header {
    padding-left: 2vw;
}

.photo {
    margin-top: 5vh;
    content: '';
    width: 13vh;
    height: 13vh;
    background-color: #BDC3C7;
    border-radius: 50%;
    margin-bottom: 0.5vh;
}

main {
    background-color: #ECF0F1;
    padding-top: 2rem;
    padding-left: 3rem;
}



#selected::before {
    position: absolute;
    z-index: -1;
    left: 0;
    top: inherit - 20px;
    content: "";
    min-width: 17rem;
    width: 18vw;
    background-color: #E57E25;
    height: 6rem;
    margin-top: -1rem;
}

.nv:hover {
    position: absolute;
    z-index: -1;
    left: 0;
    top: inherit - 20px;
    content: "";
    min-width: 17rem;
    width: 18vw;
    background-color: #E57E25;
    height: 6rem;
    margin-top: -1rem;

}

.i{
    padding: 12px;
    height:90px;
    width: auto;
}