{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/basestyle.css' %}">
</head>

<body>
    <nav>
        <div id="selected-box"></div>
        <div id="p-info">
            <div class="photo">
                <img src="{% static 'img/admin.png' %}" class="i"/>
            </div>
            <p style="border: 3px white; border-style: double; padding: 0.5em; border-radius: 30px;">ADMIN : {{ user.username }}</p>
        </div>
        <ul id="nav-list">
            <li class="list-item" style="text-align: center;"><a href="{% url 'home' %}" class="nv">Dashboard</a></li>
            <li class="list-item" style="text-align: center;"><a href="{% url 'sr' %}" class="nv">Service Requests</a></li>
            <li class="list-item" style="text-align: center;"><a href="{% url 'report' %}" class="nv">Reports</a></li>
            <li class="list-item" style="text-align: center;"><a href="{% url 'map' %}" class="nv">Map</a></li>
            <li class="list-item" style="text-align: center;"><a href="{% url 'forum' %}" class="nv">Forum</a></li>
        </ul>
    </nav>
    <main>
        {% block content %} {% endblock %}
    </main>

</body>

</html>
